h1 {
	font-size: 56px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black; margin: 0;
	text-align: center;
}

h2 {
	font-size: 36px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}

h3 {
	font-size: 26px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}

.resume {
  font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
	padding: 15px 30px 50px 50px;
	margin: 50px 200px 50px 200px;
  background-color: coral;
  background-size: cover;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 5px;
}
