h1 {
	font-size: 56px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}

h2 {
	font-size: 42px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}

h1 {
	font-size: 34px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}
