h1 {
	font-size: 50px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black; margin: 0; margin-bottom: 0;
	text-align: center;
}

h2 {
	font-size: 32px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black; margin-bottom: 0;
}

h3 {
	font-size: 18px; font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
}

.resume {
  font-family: 'Trebuchet MS', 'Palatino Linotype', serif; color: black;
	padding: 15px 30px 50px 50px;
	margin: 50px 200px 50px 200px;
  background-color: coral;
  background-size: cover;
}

.education { margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid; color: black;
    margin: 1em 0;
    margin-top:0;
    padding: 0px;
}
